<%- include("../partials/header"); %>
  <%- include("../partials/menu"); %>
    <div class="container" style="width: 80rem;">
      <hr class="no-print">
      <div class="card">
        <div class="card-header">
          <h3 class="no-print ml-3">Gerenciar Grade de Horários</h3>
          <h3 class="show-print ml-3"> Grade de Horários das Aulas</h3>
          
<hr>
          <div class="col-lg-12" style="text-align: left;">
            <button onclick="window.print()" type="button" class="btn btn-success no-print mb-1"> <i
                class="fas fa-print"></i> Imprimir </button>

              <a href="/editar/topo" class="btn btn-warning no-print"> <i
                  class="fas fa-edit"></i>Editar </a>  
          </div>
        </div>
        
        <div class="card-body">
          <table class="table table-bordered table-light">
            <thead>
              <tr>
                <tr>
                  <th>Curso</th>
                    <td>Computação</td>
                  <th>Aprovação</th>
                    <td>Sup. Acadêmica</td>
                  <th>Período</th>
                    <td>7°</td>
                  <th class="no-print">Bloco</th>
                    <td>A</td>
                  </tr>
              </tr>
    
               <tr>
                  <tr>
                    <th>Semestre</th>
                      <td>2021/1</td>
                    <th>Turno</th>
                      <td>Matutino</td>
                    <th>Turma</th>
                      <td>Unior52884</td>
                    <th>Versão</th>
                      <td class="no-print">01</td>
                  </tr>
      
                  </tr>         
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="no-print"></th>          
              </tr>
              
              <tr>
                <th>Horário</th>
    
                <th>SEG</th>
                <th>TER</th>
                <th>QUA</th>
                <th>QUI</th>
                <th>SEX</th>    
                <th class="show-print">SAB</th>   
                <th class="no-print">Editar</th> 
                <th class="no-print">Excluir</th>       
              </tr>
            </thead>
    
            <tbody>
              <% horarios.forEach(horario=>{ %>
                
              <tr>
               <td><%=horario.aulah2%></td>
                
    
                <td> <h6><%=horario.disc2%></h6>
                  <p><small class="text-muted"><%=horario.prof2%></small></p> 
                 </td>
              
                 
                 <td><h6><%=horario.disc3%></h6>
                   <p><small class="text-muted"><%=horario.prof3%></small></p> 
                 </td>
                 
                 <td><h6><%=horario.disc4%></h6>
                   <p><small class="text-muted"><%=horario.prof4%></small></p> 
                 </td>
                 
                 <td><h6><%=horario.disc5%></h6>
                   <p><small class="text-muted"><%=horario.prof5%></small></p> 
                 </td>
                 
                 <td><h6><%=horario.disc6%></h6>
                   <p><small class="text-muted"><%=horario.prof6%></small></p> 
                 </td>
    
                 <td class="show-print"></td>
                 <td class="no-print">
                  <a href="/atualizar/horario/<%=horario.id%>" class="btn btn-warning no-print"> <i class="fas fa-edit"></i> </a>
              </td>
                <td class="no-print">
                  <form method="post" action="/horario/delete" style="display: inline; margin-left: 10px;
                                      " onsubmit="confirmarDelecao(event, this)">
                    <input type="hidden" name="id" value="<%=horario.id%>">
                    <button class="btn btn-danger no-print"> <i class="fas fa-trash-alt"></i> </button>
                  </form>
                </td>          
    
              </tr>
              <% })%>
              
          <!--Ultima linha Vazia-->    
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="no-print"></td>        
              </tr>
                     
            </tbody>
          </table>   
          
         
          <a class="btn btn-primary no-print" href="/horario" role="button"><i class="fas fa-backward"></i></a>
        </div>
      </div>
    </div>
    <script>
      function confirmarDelecao(event, form) {
        event.preventDefault();
        var decision = confirm("Você deseja deletar esse item?");
        if (decision) {
          form.submit();
        }
      }
    </script>

    <%- include("../partials/footer"); %>